/*Fonts*/
/*font-family: 'Bebas Neue', cursive;*/
/*font-family: 'Lobster', cursive;*/
html{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lobster', cursive;
}
h1, h2{
    color: black;
    transition: color, 2s;
    margin: 0;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
}
h1:hover, h2:hover{
    color: #d5b1b1;
    transition: color, .5s;
}
h2{
    font-size: 50px;
    font-weight: 100;
}
hr{
    border: 2px solid black;
}
.InnerHr{
    border: 2px dashed black;
}
h1{
    padding-top: 90px;
}
a{
    color: #858585;
    transition: color 2s;
    text-decoration: none;
}
a:Hover{
    color: Black;
    transition: color .5s;
}
.Wrapper{
    width: 85%;
    margin: 0 auto;
}
/*Intro*/
#Intro{
    width: 100%;
    height: 100%;
    background: url("Images/Intro_Cover.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Work*/
#Work{
    width: 100%;
    /*height: 100%;*/
    margin: 10px 0;
}
.Items{
    /*display: grid;*/
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.Item p, h3{
    color: Black;
}
.Item{
    transition: background 3s;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    background: #f3f3f3;
    border-radius: 10px;
    text-align: center;
}
.Item:Hover{
    background: lightGray;
    transition: background .5s;
}

/*Get in Touch*/
#Touch{
    width: 100%;
    height: 100%;
    background: url("Images/Touch_Cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#Touch img{
    opacity: 100%;
    width: 128px;
    transition: opacity 1s, width 1s;
}
#Touch img:hover{
    opacity: 70%;
    width: 135px;
    transition: opacity 1s, width .5s;
}
.ImgItem{
    text-align: center;
}
/*Footer*/
#FlexiFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
}
/*Navigation*/
#UpArrow{
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 100%;
    transition: opacity 2s;
}
#UpArrow:Hover{
    opacity: 70%;
    transition: opacity .5s;
}
#Flexi{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: white;
    flex-wrap: wrap;
}
.FlexItem{
    padding: 0 10px;
    text-align: center;
    flex: 1 1 auto;

}
/*Pictures*/
#Images{
    background: url("Images/Images_Cover.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /*height: 100%;*/
    /*margin: 10px 0;*/
}
.ItemsPictures{
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
.ItemPic p, h3{
    color: Black;
}
.ItemPic img{
    filter: grayscale(100%);
    transition: filter 2s;
    width: 500px;
    border: 0;
    margin: 5px;
}
.ItemPic img:Hover{
    filter: grayscale(1%);
    transition: filter .5s;
}
.ItemPic{
    /*transition: background 3s;*/
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    /*background: #f3f3f3;*/
    border-radius: 10px;
    text-align: center;
}
.Item:Hover{
    background: lightGray;
    transition: background .5s;
}
/*Responsive Design*/
@media screen and (max-width: 1000px){
    #Navig, #Foot{
        font-size: 20px;
    }
    #Intro{
        padding: 90px;
    }
}
@media screen and (min-width: 700px){
    .Items{
        display: grid;
    }
}